{% extends "base_title.html" %}
{% block title %}商品详细{% endblock %}
{% block body %}
    <style type="text/css">
        .title {
            font-size: 20px;
            color: #FF6600;
            font-style: italic;
        }
    </style>
    <table width="100%" border="0" align="center">
        <tr>
            <td width="616"><img src="{{ url_for('static', filename='images/info.jpg') }}" align="absmiddle"/></td>
            {% include 'goods_header.html' %}
        </tr>
    </table>
    <hr width="100%"/>
    <div class="text3" align="center">{{ goods.name }}</div>
    <table width="100%" border="0" align="center">
        <tr>
            <td width="40%" align="right">
                <div><img src="{{ url_for('static', filename='goods_images/' + goods.image) }}" width="360px" height="360px"/></div>
                <br></td>
            <td>
                <div align="center" class="text4">一口价：<span class="title">{{ goods.price }}元</span></div>
                <br>
                <table width="80%" height="200" border="0">
                    <tbody>
                        <tr>
                            <td width="25%" class="text5">作者：</td>
                            <td width="25%" class="text6">{{ goods.author }}</td>
                            <td width="25%" class="text5">出版社：</td>
                            <td width="25%" class="text6">{{ goods.press }}</td>
                        </tr>
                        <tr>
                            <td class="text5">ISBN：</td>
                            <td class="text6">{{ goods.isbn }}</td>
                            <td class="text5">版次：</td>
                            <td class="text6">{{ goods.edition }}</td>
                        </tr>
                        <tr>
                            <td class="text5">开本：</td>
                            <td class="text6">{{ goods.format }}</td>
                            <td class="text5">出版时间：</td>
                            <td class="text6">{{ goods.publication_time }}</td>
                        </tr>
                        <tr>
                            <td class="text5">用纸：</td>
                            <td class="text6">{{ goods.paper }}</td>
                            <td class="text5">包装：</td>
                            <td class="text6">{{ goods.packaging }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <div><a href="/add?id={{ goods.id }}&name={{ goods.name }}&price={{ goods.price }}">
                    <img src="{{ url_for('static', filename='images/button.jpg') }}"/>
                </a></div>
            </td>
        </tr>
    </table>
{% endblock %}







