{% extends "base_title.html" %}
{% block title %}购物车{% endblock %}
{% block body %}
<style type="text/css">
    table {
        border-collapse: collapse;
    }

    .threeboder {
        border: 1px solid #5B96D0;
    }

    .trow {
        border-right: 1px solid #5B96D0;
        border-bottom: 1px solid #5A96D6;
    }

    .theader {
        background-color: #A5D3FF;
        font-size: 14px;
        border-right: 1px solid #5B96D0;
        border-bottom: 1px solid #5A96D6;
    }
</style>
<script>
    function calc(rowid, quantityInput) {
        try {
            var quantity = parseInt(quantityInput.value);
            if (isNaN(quantity) || quantity < 1) {
                alert('数量必须大于等于1');
                quantityInput.value = 1;
                quantity = 1;
            }
            var price_id = 'price_' + rowid;
            var price = parseFloat(document.getElementById(price_id).innerText);
            var subtotal_id = 'subtotal_' + rowid;
            var oldSubtotal = parseFloat(document.getElementById(subtotal_id).innerText);
            var newSubtotal = quantity * price;
            document.getElementById(subtotal_id).innerText = newSubtotal.toFixed(2);
            var total = parseFloat(document.getElementById('total').innerText);
            total = total - oldSubtotal + newSubtotal;
            total = total.toFixed(2);
            document.getElementById('total').innerText = total;
        } catch (e) {
            console.error('计算错误:', e);
        }
    }
</script>
<table width="100%" border="0" align="center">
    <tr>
        <td width="616"><img src="{{url_for('static', filename='images/mycar.jpg')}}" /></td>
        {% include 'goods_header.html' %}
    </tr>
</table>
<hr width="100%" />
<div class="text3" align="center">您选好的商品</div>
<br>
<form action="/submit_order" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <table width="100%" border="0" align="center" class="threeboder">
        <tr bgcolor="#A5D3FF">
            <td height="50" align="center" class="theader">商品名称</td>
            <td width="8%" align="center" class="theader">数量</td>
            <td width="15%" align="center" class="theader">单价</td>
            <td width="15%" align="center" class="theader">小计</td>
        </tr>
        {% for item in list %}
        <tr>
            <td height="50" align="left" class="trow">{{ item[1] }}</td>
            <td align="center" class="trow">
                <input name="quantity_{{item[0]}}" type="number" min="1" max="99" value="{{item[3]}}">
            </td>
            <td align="center" class="trow">&yen;<span id="price_{{item[0]}}">{{ item[2]}}</span></td>
            <td align="center" class="trow">&yen;<span id="subtotal_{{item[0]}}">{{ item[4] }}</span></td>
        </tr>
        {% endfor %}
        <tr>
            <td height="50" colspan="5" align="right">合计: &yen;<span id="total">{{ total }}</span>&nbsp;&nbsp;</td>
        </tr>
    </table>
    <br>
    <div align="center">
        <input type="image" src="{{ url_for('static', filename='images/submit_order.jpg') }}" />&nbsp;&nbsp;
    </div>
</form>
{% endblock %}